/* Header Stylings */
/* .Header { */
.headerParent {
    background-color: rgb(1, 6, 12); 
    border: none;
    color: white;
    height: 200px;
    display:flex;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    justify-content: space-between;
}

#header-text {
    font-size: 30px;
    
    font-weight: bold;
    color: rgb(86, 235, 12);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(86, 235, 12);

    /* display: inline-block; */
};

